{% load staticfiles %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
</head>
<body ng-app="freelancrApp">
  <div class="content" ng-controller="AppController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Freelancr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          {% verbatim %}
          <!--div ng-show="user" class="navbar-form navbar-right">
              <input type="submit" class="btn btn-default" ng-click="logout()"
                     value="logout {{user}}"/>
          </div>
          <div ng-hide="user">
              <form id="id_auth_form" class="navbar-form navbar-right" ng-submit="login()">
                  <div class="form-group">
                      <input ng-model="username" required name="username" type="text" placeholder="username" class="form-control">
                  </div>
                  <div class="form-group">
                      <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
                  </div>
                  <div class="btn-group">
                      <input type="submit" class="btn btn-default" value="Login">
                      <input type="submit" class="btn btn-default" value="Register" ng-click="register()">
                  </div>
              </form>
          </div-->
        {% endverbatim %}
        </div>
      </div>
    </nav>


    {% verbatim %}
    <!--Content-->
    <div class="container">
      <div class="row content-area">
        <!--Search area-->
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control imput" type="text" ng-model="query" placeholder="Search customer...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="addCustomerModal()">Add</button>
            </span>
          </div>
          <table class="table table-hover customer-table">
            <tr ng-click="selectCustomer(customer)" ng-repeat="customer in customers | filter:query">
              <td ng-bind="customer.name"></td>
            </tr>
          </table>
        </div>
        
        <!--Detail area-->
        <div class="col-md-9" ng-model="selectedCustomer">
          <div class="row">
            <div class="col-md-6">
              <h2><span ng-bind="selectedCustomer.name"></span> <small> <span ng-bind="selectedCustomer.totalHours"></span> hours</small></h2>
              <div ng-bind="selectedCustomer.street"></div>
              <div ng-bind="selectedCustomer.phone"></div>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-default" ng-click="addProject()">Add project</button>
              <button type="button" class="btn btn-default" ng-click="editCustomer(selectedCustomer)">Edit customer</button>
              <button type="button" class="btn btn-default" ng-click="removeCustomer(selectedCustomer)">Remove customer</button>
            </div>
          </div>
          <br><br>
          <div ng-repeat="project in selectedCustomerProjects">
            <h4><span ng-bind="project.name"></span> <small><span ng-bind="project.totalHours"></span> hours</small>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm" ng-click="removeProject(project)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button><h4>
              <table class="table table-activity">
                <thead>
                  <th class="col-sm-2">Date</th>
                  <th class="col-sm-4">Description</th>
                  <th style="width:auto">Rate</th>
                  <th style="width:auto">Duration</th>
                  <th style="width:auto">Amount</th>
                  <th style="width:auto">Billed</th>
                  <th style="width:auto">Payed</th>
                  <th class="col-sm-2"></th>
                </thead>
                <tr ng-repeat="activity in project.activities" ng-mouseenter="hover(activity)" ng-mouseleave="hover(activity)">
                  <td ng-bind="activity.date"></td>
                  <td ng-bind="activity.description"></td>
                  <td class="number" ng-bind="activity.rate"></td>
                  <td class="number" ng-bind="activity.duration"></td>
                  <td class="number" ng-bind="activity.rate * activity.duration"></td>
                  <td class="number"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="activity.billed"></span></td>
                  <td class="number"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="activity.payed"></span></td>
                  <!--td class="number" ng-bind="activity.billed | bool"></td>
                  <td class="number" ng-bind="activity.payed | bool"></td-->
                  <td class="cell-no-padding">
                    <div class="btn-group btn-group-sm" aria-label="..." ng-show="activity.showButtons">
                      <button type="button" class="btn btn-default btn-sm" ng-click="editActivityModal(activity)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                      <button type="button" class="btn btn-default btn-sm" ng-click="deleteActivity(activity)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                  </td>
                </tr>
                <tr ng-controller="AddController">
                  <td>
                    <input type="text" class="form-control input input-xs" datepicker-popup="{{format}}" ng-click="openDatePicker($event)" ng-model="date" is-open="opened" close-text="Close"/>
                  </td>
                  <td><input class="form-control input input-xs" type="text" ng-model="description"></td>
                  <td><input class="form-control input input-xs" type="text" ng-model="rate"></td>
                  <td><input class="form-control input input-xs" type="text" ng-model="duration"></td>
                  <td class="number" ng-bind="handleNaN(rate * duration)">0</td>
                  <td class="number"><input type="checkbox" ng-model="billed"></td>
                  <td class="number"><input type="checkbox" ng-model="payed"></td>
                  <td><button type="submit" class="btn btn-default btn-sm" ng-click="addActivity(project)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                </tr>
              </table>
            </div>
          </div>  
        </div>
      </div>

      <script type="text/ng-template" id="addProjectModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Add Project</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
      <fieldset>
    
      <div class="form-group">
      <label class="col-md-4 control-label" for="name">Project Name</label>  
      <div class="col-md-4">
      <input id="name" name="name" type="text" class="form-control input-md" ng-model="name" required="">
      </div>
      </div>

      </fieldset>
      </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" ng-click="addProject()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <script type="text/ng-template" id="removeProjectModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Remove Project</h3>
      </div>
      <div class="modal-body">
      Are you sure you want to remove the project?
      </div>
      <div class="modal-footer">
      <button class="btn btn-danger" ng-click="removeProject()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <script type="text/ng-template" id="addCustomerModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Add Customer</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
      <fieldset>
    
      <div class="form-group">
      <label class="col-md-4 control-label" for="name">Name</label>  
      <div class="col-md-4">
      <input id="name" name="name" type="text" class="form-control input-md" ng-model="name" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="street">Street</label>  
      <div class="col-md-4">
      <input id="street" name="street" type="text" class="form-control input-md" ng-model="street" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="phone">Phone</label>  
      <div class="col-md-4">
      <input id="phone" name="phone" type="text" class="form-control input-md" ng-model="phone" required="">
      </div>
      </div>

      </fieldset>
      </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" ng-click="addCustomer()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <script type="text/ng-template" id="editCustomerModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Edit Customer</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
      <fieldset>

      <div class="form-group">
      <label class="col-md-4 control-label" for="name">Name</label>  
      <div class="col-md-4">
      <input id="name" name="name" type="text" class="form-control input-md" ng-model="name" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="street">Street</label>  
      <div class="col-md-4">
      <input id="street" name="street" type="text" class="form-control input-md" ng-model="street" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="phone">Phone</label>  
      <div class="col-md-4">
      <input id="phone" name="phone" type="text" class="form-control input-md" ng-model="phone" required="">
      </div>
      </div>

      </fieldset>
      </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" ng-click="editCustomer()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <script type="text/ng-template" id="removeCustomerModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Remove Customer</h3>
      </div>
      <div class="modal-body">
      Are you sure you want to remove the customer?
      </div>
      <div class="modal-footer">
      <button class="btn btn-danger" ng-click="removeCustomer()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>

      <script type="text/ng-template" id="editActivityModal.html">
      <div class="modal-header">
      <h3 class="modal-title">Edit Activity</h3>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
      <fieldset>
      <div class="form-group">
      <label class="col-md-4 control-label" for="date">Date</label>  
      <div class="col-md-4">
      <input id="date" name="date" type="text" class="form-control input-md" ng-model="date" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="description">Description</label>  
      <div class="col-md-4">
      <input id="description" name="description" type="text" class="form-control input-md" ng-model="description" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="rate">Rate</label>  
      <div class="col-md-4">
      <input id="rate" name="rate" type="text" class="form-control input-md" ng-model="rate" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="duration">Duration</label>  
      <div class="col-md-4">
      <input id="duration" name="duration" type="text" class="form-control input-md" ng-model="duration" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="billed">Billed</label>  
      <div class="col-md-4">
      <input id="billed" name="billed" type="checkbox" class="form-control input-md" ng-model="billed" required="">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label" for="payed">Payed</label>  
      <div class="col-md-4">
      <input id="payed" name="payed" type="checkbox" class="form-control input-md" ng-model="payed" required="">
      </div>
      </div>

      </fieldset>
      </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" ng-click="editActivity()">Done</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
      </script>
    </div>
    {% endverbatim %}
  </div>


  <script src="{% static "jquery/jquery-2.1.1.js" %}"></script>
  <script src="{% static "angular/angular.js" %}"></script>
  <script src="{% static "angular/angular-cookies.js" %}"></script>
  <script src="{% static "angular/angular-resource.js" %}"></script>
  <script src="{% static "angular/ui-bootstrap-tpls-0.12.0.js" %}"></script>
  <script src="{% static "js/controllers.js" %}"></script>
</body>
</html>